# Compilados e Binários
/build/
/out/
.gradle/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Android Studio (caso seja mobile)
captures/
local.properties
.externalNativeBuild
.cxx/
*.apk
*.aar

# Log e Temporários
*.log
.DS_Store (macOS)
Thumbs.db (Windows)

# Segredos (NUNCA envie para o Git)
.env
